@mixin button-mixin($color) {
  background-color: $color;
  border: 0;
  color: #fff;
  &:hover,
  &:focus {
    background-color: darken($color, 5%);
  }
}

.button,
button {
  display: inline-block;
  background: #fff;
  border: 1px solid $gray-color;
  box-sizing: border-box;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
  height: 3.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.03rem;
  padding: 0 2.5rem;

  &:hover,
  &:focus {
    border-color: darken($gray-color, 8%);
  }

  &.o-primary {
    border-color: $blue-color;
    color: $blue-color;
    &:hover,
    &:focus {
      border-color: darken($blue-color, 8%);
      color: darken($blue-color, 10%);
    }
  }

  &.large {
    height: 4.2rem;
    line-height: 4.2rem;
    font-size: 14px;
  }

  &.small {
    font-size: 11px;
    height: 3.4rem;
    line-height: 3.4rem;
  }

  &.clear {
    border-width: 0;
  }

  &.primary {
    @include button-mixin($blue-color);
  }

  &.success {
    @include button-mixin($green-color);
  }

  &.warning {
    @include button-mixin($orange-color);
  }

  &.error {
    @include button-mixin($red-color);
  }

  &.rounded {
    border-radius: 30px;
  }

  &.pointed {
    border-radius: 0;
  }
}

a.button {
  letter-spacing: 0.06rem;
  &.clear {
    color: $blue-color;
    &:hover {
      background-color: lighten($blue-color, 33%);
    }
  }
}
