.notification {
  background-color: darken($gray-color, 10%);
  color: #fff;
  font-size: 14px;
  padding: 15px 40px 15px 20px;
  border-radius: 3px;
  position: relative;
  letter-spacing: 0.3px;

  p {
    margin-bottom: 0;
  }

  i.close {
    position: absolute;
    right: 0;
    top: 50%;
    color: #fff;
    cursor: pointer;
    height: 25px;
    width: 25px;
    opacity: 0.6;
    transform: translateY(-50%);
    &:hover {
      opacity: 1;
    }
    &:before {
      display: inline-block;
      content: '×';
      font-size: 24px;
      font-weight: 300;
      height: 11px;
      position: relative;
      top: -8px;
      left: -4px;
    }
  }

  &--primary {
    background-color: $blue-color;
  }

  &--success {
    background-color: $green-color;
  }

  &--warning {
    background-color: $orange-color;
  }

  &--error {
    background-color: $red-color;
  }
}
